.FilmPosterCell {
  --blur-radius: 15px;

  padding: var(--outer-padding);
  padding-bottom: var(--blur-radius);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

/* TODO: consider implementing a media query for mobile landscape mode, e.g. one that uses film 
"cover photo" from Letterboxd */
.FilmPosterCell > .img {
  flex: 1;
  height: 100%;
  max-width: 250px;
  max-height: var(--film-poster-max-height);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  box-shadow: 0 0 var(--blur-radius);
}

.FilmTextButton {
  order: 1;
  border: none;
  padding: var(--outer-padding);
  padding-top: 0;
  display: flex;
  cursor: pointer;
}

.text {
  flex: 1;
  height: 100%;
  overflow-wrap: anywhere;
}