html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#root {
  max-width: 1800px;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.App,
.LoadingFilmDetails,
.FilmPosterCell,
.FilmTextButton {
  /* NOTE: color selected for contrast ratio with GitHub and LinkedIn logos in footer 
    that is better than 3.1:1 */
  background-color: #dedede;
}

header,
footer {
  padding: 10px;
}

/* NOTE: For integrity, https://brand.linkedin.com/downloads asks that LinkedIn's "in" logo 
be a certain distance from other elements: at least two times the width of the 'i' in the 
logo. 20px is approximately the required separation. */
footer {
  display: flex;
  gap: 20px;
}

.Game {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header > h1 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: clamp(1em, min(7vw, 7vh), 2em);
}

header > div {
  display: flex;
  gap: 10px;
}

main,
.img {
  background-color: #36454f;
}

main {
  flex: 1;
  display: flex;
}

.FilmGrid {
  --film-poster-max-height: 400px;
  --outer-padding: 5px;

  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: minmax(0, calc(45% + var(--film-poster-max-height) / 2));
  column-gap: 5px;
}

.FilmPosterCell {
  --blur-radius: 15px;

  cursor: pointer;
  padding: var(--outer-padding);
  padding-bottom: var(--blur-radius);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img {
  box-shadow: 0 0 var(--blur-radius);
  border-radius: 10px;
  max-width: 250px;
  max-height: var(--film-poster-max-height);
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.FilmTextButton {
  order: 1;
  border: none;
  cursor: pointer;
  padding: var(--outer-padding);
  padding-top: 0;
  display: flex;
}

.text {
  flex: 1;
  height: 100%;
  overflow-wrap: anywhere;
}

.LoadingFilmDetails {
  --spinner-diameter: 50px;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoadingAnimationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.Spinner {
  width: var(--spinner-diameter);
  height: var(--spinner-diameter);
  background-color: transparent;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  cursor: pointer;
}

.TooltipText {
  border-radius: 6px;
  width: 120px;
  padding: 5px 5px;
  opacity: 0.25;
  background-color: black;
  color: white;
  text-align: center;
}
 
.LoadingText[data-displayed="false"] {
  font-size: 0;
}

@keyframes spin {
  to {
      transform: rotate(360deg);
  }
}