.App {
  flex: 1;
  /* NOTE: color selected for contrast ratio with GitHub and LinkedIn logos in footer 
    that is better than 3.1:1 */
  display: flex;
  flex-direction: column;
}

.App, .App .FilmDetails {
  background-color: #dedede;
}

.Game > header,
footer {
  padding: 10px;
}

/* NOTE: For integrity, https://brand.linkedin.com/downloads asks that LinkedIn's "in" logo 
be a certain distance from other elements: at least two times the width of the 'i' in the 
logo. 20px is approximately the required separation. */
footer {
  display: flex;
  gap: 20px;
}

footer > a > img {
  height: 50px;
}
