.FilmDetails {
  flex-grow: 1;
  border: none;
  /* NOTE: color selected for contrast ratio with GitHub and LinkedIn logos in footer 
  that is better than 3.1:1 */
  background-color: #DEDEDE;
  cursor: pointer;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.FilmDetails img {
  box-shadow: 0 0 30px;
  border-radius: 10px;
  width: 250px;
}
