.Game {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Header {
  display: flex;
  justify-content: space-evenly;
}

.Films {
  flex-grow: 1;
  background-color: #36454f;
  display: flex;
  gap: 5px;
}
